# essential
numpy>=1.7.1
quantities>=0.12.4
# Temporarily need to use latest quantities code until new pypi release
# -e git://github.com/python-quantities/python-quantities.git@master#egg=quantities

# for running tests
nose>=1.1.2
